<div class="page-header">
  <h3>Anticipation #<%= @anticipation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Advance</dt>
      <dd><%= @anticipation.advance %></dd>

      <dt>Description</dt>
      <dd><%= @anticipation.description %></dd>

    </dl>
    <% if current_user != nil && current_user.id ==1 %>
    <div class="btn-group btn-group-justified">
      <a href="/anticipations" class="btn btn-info">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </a>
      <a href="/anticipations/<%= @anticipation.id %>/edit" class="btn btn-warning">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </a>
      <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, { controller: 'anticipations', action: 'destroy' }, data: {confirm: 'Are you sure you want to delete the anticipation?'}, class: "btn btn-danger" %>
    </div>
    <% end %>
  </div>
</div>
