<div class="page-header">
  <h3>Comparisson for Route <%= @route.name %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Source</dt>
      <dd><%= @route.source %></dd>

      <dt>Destination</dt>
      <dd><%= @route.destination %></dd>

      <dt>Passengers</dt>
      <dd><%= @route.passengers %></dd>
</dl>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              Service Type
            </th>
            <th>
              Uber
            </th>
            <th>
              Lyft
            </th>
          </tr>
        </thead>
        <tbody>
          <% if @route.passengers <=2 %>
          <tr>
            <td>
              Shared
            </td>
            <td>
              <%= @uberd1 %>: <%= @uberp1 %>
            </td>
          </tr>
          <% end %>
          <% if @route.passengers <=4 %>
          <tr>
            <td>
              Regular
            </td>
            <td>
              <%= @uberd2 %>: <%= @uberp2 %>
            </td>
          </tr>
          <% end %>
          <tr>
            <td>
              Large
            </td>
            <td>
              <%= @uberd3 %>: <%= @uberp3 %>
            </td>
          </tr>
          <!-- <tr>
            <td>
              Fancy
            </td>
            <td>
              <%= @uberd4 %>: <%= @uberp4 %>
            </td>
          </tr>
          <tr>
            <td>
              Luxury
            </td>
            <td>
              <%= @uberd5 %>: <%= @uberp5 %>
            </td>
          </tr>
          <tr>
            <td>
              SUV
            </td>
            <td>
              <%= @uberd6 %>: <%= @uberp6 %>
            </td>
          </tr> -->
        </tbody>
      </table>



    <div class="btn-group btn-group-justified">
      <a href="/routes" class="btn btn-primary">
        Back
      </a>
      <a href="/routes/<%= @route.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_route/<%= @route.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
