<!-- Validation failure messages -->
<% if @route.errors.any? %>
<% @route.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Edit Route #<%= @route.id %></h3>
</div>

<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-8">
    <form action="/update_route/<%= @route.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @route.name %>">
      </div>

      <!-- Label and input for source -->
      <div class="form-group">
        <label for="source" class="control-label">
          Source Address
        </label>

        <input type="text" id="source" name="source" placeholder="Source" class="form-control" value="<%= @route.source %>">
      </div>

      <!-- Label and input for destination -->
      <div class="form-group">
        <label for="destination" class="control-label">
          Destination Address
        </label>

        <input type="text" id="destination" name="destination" placeholder="Destination" class="form-control" value="<%= @route.destination %>">
      </div>

      <!-- Label and input for passengers -->
      <div class="form-group">
        <label for="passengers" class="control-label">
          Passengers
        </label>

        <select class="form-control" id="passengers" name="passengers" value="<%= @route.passengers %>">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
      </div>

      <!-- Label and input for anticipation_id -->
      <div class="form-group">
        <label for="anticipation_id" class="control-label">
          Anticipation
        </label>

        <%= select_tag(:anticipation_id, options_from_collection_for_select(Anticipation.all, :id, :description, @route.anticipation_id), :class => "form-control") %>
      </div>

      <!-- Label and input for frecuency -->
      <div class="form-group">
        <label for="frecuency" class="control-label">
          Departure Time
        </label>

        <input type="text" id="frecuency" name="frecuency" placeholder="Frecuency" class="form-control" value="<%= @route.frecuency %>">
      </div>

      <!-- Label and input for user_id Hidden -->
      <div class="form-group">
        <input type="hidden" name="user_id" value="<%= current_user.id %>">
      </div>
      <% if current_user.id == @route.user_id %>
      <button class="btn btn-success">
        Save
      </button>
      or
      <a href="/routes/<%= @route.id %>">Cancel</a>
      <% end %>

    </form>
  </div>
</div>
<div class="col-md-2">

</div>
