<div class="page-header text-center">
  <h1>
    My Routes
  </h1>
</div>

<div class="row">

  <% @routes.order(:frecuency).each do |route| %>
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><a href="/routes/<%= route.id %>" ><%= route.name %></a></h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Source</dt>
          <dd><%= route.source %></dd>
          <dt>Destination</dt>
          <dd><%= route.destination %></dd>
          <dt>Passengers</dt>
          <dd><%= route.passengers %></dd>
          <dt>Anticipation</dt>
          <dd><%= route.anticipation.description %></dd>
          <dt>Departure Time</dt>
          <dd><%= DateTime.parse(route.frecuency).strftime('%b %e, %y at %l:%M %P') %></dd>
          <dt>Time to Request</dt>
          <% if DateTime.parse(route.frecuency) < Time.now %>
          <dd class="text-danger">Route out of date!</dd>
          <% else %>
          <dd><%= time_ago_in_words(DateTime.parse(route.frecuency)-route.anticipation.advance.minutes)%> left</dd>
          <% end %>
        </dl>
      </div>
      <div class="panel-footer">
        <div class="btn-group btn-group-justified">
          <a href="/routes/<%= route.id %>" class="btn btn-info">
            <i class="fa fa-lg fa-eye" aria-hidden="true"></i>
          </a>
          <a href="/routes/<%= route.id %>/edit" class="btn btn-warning">
            <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
          </a>
          <a href="/delete_route/<%= route.id %>" class="btn btn-danger" rel="nofollow">
            <i class="fa fa-lg fa-trash" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <% end %>

</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h3 class="panel-title">  <a href="/routes/new" class="btn btn-lg btn-block btn-warning"><i class="fa fa-plus" aria-hidden="true"></i></a></h3>
  </div>
  <div class="col-md-4">
  </div>
</div>
