<div class="page-header text-center">
  <h1>
    My Routes
  </h1>
</div>

<div class="row">

  <% @routes.order(:frecuency).each do |route| %>
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><a href="/routes/<%= route.id %>" ><%= route.name %></a></h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Source</dt>
          <dd><%= route.source %></dd>
          <dt>Destination</dt>
          <dd><%= route.destination %></dd>
          <dt>Passengers</dt>
          <dd><%= route.passengers %></dd>
          <dt>Anticipation</dt>
          <dd><%= route.anticipation.description %></dd>
          <dt>Departure Time</dt>
          <dd><%= DateTime.parse(route.frecuency).strftime('%b %e, %y at %l:%M %P') %></dd>
          <dt>Time to Request</dt>
          <% if DateTime.parse(route.frecuency) < Time.now %>
          <dd class="text-danger">Route is outdated!</dd>
          <% elsif DateTime.parse(route.frecuency) > Time.now && DateTime.parse(route.frecuency)-route.anticipation.advance.minutes < Time.now%>
          <dd class="text-danger"><a href="/routes/<%= route.id %>/compare">
          Request Now!</a></dd>
          <% else %>
          <dd><%= time_ago_in_words(DateTime.parse(route.frecuency)-route.anticipation.advance.minutes)%> left</dd>
          <% end %>
        </dl>
      </div>
      <div class="panel-footer">
        <div class="btn-group btn-group-justified">
          <a href="/routes/<%= route.id %>" class="btn btn-info">
            <i class="fa fa-lg fa-eye" aria-hidden="true"></i>
          </a>
          <a href="/routes/<%= route.id %>/edit" class="btn btn-warning">
            <i class="fa fa-lg fa-pencil-square-o" aria-hidden="true"></i>
          </a>
          <%= link_to '<i class="fa fa-lg fa-trash" aria-hidden="true"></i>'.html_safe, { controller: 'routes', action: 'destroy', id: route.id }, data: {confirm: 'Are you sure you want to delete the route?'}, class: "btn btn-danger btn-block" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

</div>
<div class="row">
  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <h3 class="btn btn-lg btn-block btn-warning" type="button" data-toggle="collapse" data-target="#newroute" aria-expanded="false" aria-controls="newroute">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </h3>

    <div class="collapse" id="newroute">
      <div class="well">
        <form action="/create_route" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="control-label">
              Name
            </label>

            <input type="text" id="name" name="name" placeholder="Name" class="form-control">
          </div>

          <!-- Label and input for source -->
          <div class="form-group">
            <label for="source" class="control-label">
              Source Address
            </label>

            <input type="text" id="source" name="source" placeholder="Source" class="form-control">
          </div>

          <!-- Label and input for destination -->
          <div class="form-group">
            <label for="destination" class="control-label">
              Destination Address
            </label>

            <input type="text" id="destination" name="destination" placeholder="Destination" class="form-control">
          </div>

          <!-- Label and input for passengers -->
          <div class="form-group">
            <label for="passengers" class="control-label">
              Passengers
            </label>

            <select class="form-control" id="passengers" name="passengers">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>

          </div>

          <!-- Label and input for anticipation_id -->
          <div class="form-group">
            <label for="anticipation_id" class="control-label">
              Anticipation
            </label>

            <%= select_tag(:anticipation_id, options_from_collection_for_select(Anticipation.all, :id, :description, @anticipation_id), :class => "form-control") %>

          </div>

          <!-- Label and input for frecuency -->
          <div class="form-group">
            <label for="frecuency" class="control-label">
              Departure Time
            </label>

            <input type="text" id="frecuency" name="frecuency" placeholder="Smart Date Field!" class="form-control">
          </div>

          <!-- Label and input for user_id Hidden -->
          <div class="form-group">
            <input type="hidden" name="user_id" value="<%= current_user.id %>">
          </div>

          <button class="btn btn-success">
            Save
          </button>
          or
          <a href="/routes">Cancel</a>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
