<div class="page-header">
  <h2>Route: <%= @route.name %></h2>
</div>

<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @route.name %></dd>

      <dt>Source</dt>
      <dd><%= @route.source %></dd>

      <dt>Destination</dt>
      <dd><%= @route.destination %></dd>

      <dt>Passengers</dt>
      <dd><%= @route.passengers %></dd>

      <dt>User</dt>
      <dd><%= @route.user_id %></dd>

      <dt>Frecuency</dt>
      <dd><%= @route.frecuency %></dd>

      <dt>Departure</dt>
      <dd><%= @route.departure %></dd>

      <dt>Anticipation</dt>
      <dd><%= @route.anticipation.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/routes/<%= @route.id %>/compare" class="btn btn-success">
        Compare
      </a>
      <a href="/routes" class="btn btn-info">
        Home
      </a>
      <a href="/routes/<%= @route.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_route/<%= @route.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
  <div class="col-md-3">

  </div>
</div>
